{% extends 'base.html' %}

{% block title %}Project details{% endblock %}

{% block content %}
    <div class="project_detail_template">
        <div class="welcome_container">
            <p>Welcome Back,</p>
            <span>{{ user.username }}</span>
        </div>
        <div class="tiles_container">
            <div class="tile_container">
                <div class="tile_container_title">
                    Priamry info
                </div>
                <div class="tile_container_divider">Title</div>
                <div class="tile_container_field">
                    {{ project.name }}
                </div>
                <div class="tile_container_divider">Description</div>
                <div class="tile_container_field">
                    {{ project.description }}
                </div>
            </div>
            <div class="tile_container">
                <div class="tile_container_title">
                    Dates
                </div>
                <div class="tile_container_divider">Created At</div>
                <div class="tile_container_field">
                    {{ project.created_at }}
                </div>
                <div class="tile_container_divider">Updated At</div>
                <div class="tile_container_field">
                    {{ project.updated_at }}
                </div>
            </div>
            <div class="tile_container">
                <div class="tile_container_title">
                    Team
                </div>
                <div class="tile_container_divider">Owner</div>
                <div class="tile_container_field">
                    {{ project.owner }}
                </div>
                <div class="tile_container_divider">members</div>
                {% for member in project.team.all %}
                    <div class="tile_container_field">
                        {{ member.username }}
                        <form method="post" style="display: inline-flex">
                            {% csrf_token %}
                            <input type="hidden" name="member_id" value="{{ member.id }}">
                            <button type="submit" name="remove_member" class="remove_button">-</button>
                        </form>
                    </div>

                {% endfor %}
                <div class="add-member-form">
                    <form method="post" style="display: inline-flex;">
                        {% csrf_token %}
                        {{ form.member }}
                    <button type="submit" class="add_button" name="add_member"></button>
                    </form>
                </div>
            </div>
            <div class="tile_container">
                <div class="tile_container_title">
                    Tasks
                </div>
                {% for task in tasks %}
                    <div class="tile_container_field">
                        <a href="{% url 'task_detail' project.pk task.pk %}">{{ task.title }}</a> - {{ task.status }}
                    </div>
                {% empty %}
                    <div class="tile_container_field">No tasks found.</div>
                {% endfor %}
            </div>
        </div>


        <a href="{% url 'task_create' project.pk %}">Add New Task</a>
    </div>
{% endblock %}