

{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
    <div class="skelet_projects_list">
        <ul class="skelet_projects">
            {% for project in projects %}
                <li class="skelet_project"><a href="{% url 'project_detail' project.pk %}">
                    <p>{{ project.name }}</p>
                    <p>{{ project.description }}</p>
                </a>
                </li>
            {% empty %}
                <li>No projects found.</li>
            {% endfor %}
            <li class="skelet_project"> <a class="" href="{% url 'project_create' %}">Add New Project</a>

            </li>

        </ul>
    </div>
{% endblock %}