.form-field {
}

.form-field > label {
    color: black;
    font-size: 18px;
}
.form-field input {
    width: 100%;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    border: 1px solid color-mix(in srgb, var(--color-primary) var(--transparency, 100%), transparent);
}