<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/main.css' %}">
</head>
<body>
    <nav class="skelet_navbar">
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li><a href="{% url 'project_list' %}">Projects</a></li>
            <li><a href="{% url 'tasks' %}">Tasks</a></li>
{#                <li><a href="{% url 'contacts' %}">Contacts</a></li>#}
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
