<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/main.css' %}">
</head>
<body>
<main>
    {% block content %}{% endblock %}
</main>
<script>
        document.addEventListener('DOMContentLoaded', function () {
            const redirectLinks = document.querySelectorAll('.redirect');

            redirectLinks.forEach(link => {
                link.addEventListener('click', function (event) {
                    event.preventDefault();

                    document.querySelector('.main_element').classList.add("main_element_anim");

                    const targetUrl = this.getAttribute('href');
                    console.log(targetUrl)
                    setTimeout(() => {
                        window.location.href = targetUrl;
                    }, 250);
                });
            });
        });
</script>
</body>
</html>
