<!DOCTYPE html>
<html lang="pl">
<head>
    {% load static %}
    {% load slippers %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'src/main.css' %}">
</head>
<body>

{% include 'navbar.html' %}

<main>
    <div class="curtain-start"></div>
    <div class="curtain-end"></div>
    {% block content %}{% endblock %}
</main>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const connectElements = document.querySelectorAll('[class*="connect:"]');

        connectElements.forEach(element => {
            element.addEventListener('click', function () {
                const connections = this.className.match(/connect:([^\s]+~[^\s]+)/g);

                if (connections) {
                    connections.forEach(connection => {
                        const classes = connection.split('connect:')[1].split('~');
                        const classA = classes[0].trim();
                        const classB = classes[1].trim();

                        const targetElements = document.querySelectorAll(`.${classB}`);

                        targetElements.forEach(target => {
                            target.classList.toggle(classA);
                        });
                    });
                }
            });
        });

        const redirectLinks = document.querySelectorAll('.redirect');

        redirectLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault();

                document.querySelector('.curtain-end').classList.add("active-curtain-end");

                const targetUrl = this.getAttribute('href');
                const navbarExpandElements = document.querySelectorAll('.navbar_expand');

                navbarExpandElements.forEach(element => {
                    element.classList.remove('navbar_expand');
                });

                setTimeout(() => {
                    window.location.href = targetUrl;
                }, 250);
            });
        });
    });
</script>
{#<script>#}
{##}
{#const socket = new WebSocket(`ws://${window.location.host}/ws/notifications/`);#}
{##}
{#socket.onopen = function(e) {#}
{#    console.log('WebSocket connection established.');#}
{##}
{#socket.onmessage = function(e) {#}
{#    const data = JSON.parse(e.data);#}
{#    console.log('Received message:', data);#}
{##}
{#    if (data.title === 'status') {#}
{#        console.log(`User status: ${data.body}`);#}
{#    } else if (data.title === 'project_update') {#}
{#        console.log(`Project Updated: ${data.project_id} by User: ${data.user}`);#}
{#    }#}
{##}
{#// Obsługuje zamknięcie połączenia#}
{#socket.onclose = function(e) {#}
{#    console.log('WebSocket connection closed.');#}
{##}
{#// Obsługuje błędy#}
{#socket.onerror = function(error) {#}
{#    console.error('WebSocket error:', error);#}
{#</script>#}
<script>
    class WebSocketRefresh {
    constructor(updateInterval = 1000) {
        this.lastUpdateTime = Date.now();
        this.timer = null;
        this.updateInterval = updateInterval;
    }

    start() {
        this.timer = setInterval(() => this.checkTimeSinceUpdate(), this.updateInterval);
    }

    resetTimer() {
        this.lastUpdateTime = Date.now();
    }

    checkTimeSinceUpdate() {
        const now = Date.now();
        const timeSinceLastUpdate = Math.floor((now - this.lastUpdateTime) / 1000);
        document.getElementById("last-update").innerText = `Ostatnia aktualizacja: ${timeSinceLastUpdate} sekund temu`;
    }

    stop() {
        clearInterval(this.timer);
    }
}

const ws = new WebSocket('ws://localhost:8000/ws/your_endpoint/');
const refreshTimer = new WebSocketRefresh();

ws.onopen = () => {
    refreshTimer.start();
};

ws.onmessage = (event) => {
    const data = JSON.parse(event.data);

    refreshTimer.resetTimer(); 
};

ws.onclose = () => {
    refreshTimer.stop();
};

</script>
</body>
</html>
