@import url("base/reset.css");
@import url("base/variables.css");

@import url("layout/align.css");
@import url("layout/spacing.css");
@import url("layout/sizing.css");
@import url("layout/panels.css");

@import url("components/forms.css");

@import url("decor/filters.css");

/*##### LOGIN #####*/

.skelet_navbar {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 6em;
    height: 100vh;
    padding: 1em 1.5em;
    gap: 1em;
    border-right: 0.1em solid gray;
    transition: all .25s ease-in-out;
}

.skelet_navbar.navbar_expand {
    align-items: start;
    width: 12em;
    padding: 1.5em 1em;
}

.icon_label {
    display: none;
    align-items: center;
    padding-left: .5em;
    font-weight: bolder;
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

.icon_label.navbar_expand {
    display: flex;
    animation: showText .4s;
}

@keyframes showText {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icon_container {
    display: flex;
    width: 3em;
    height: 3em;
    transition: background-color .2s ease-in-out;
    animation: change-effect 250ms ease-in-out forwards;
}

.icon_container > .navbar_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.icon_container > .navbar_container > span {
    width: 75%;
    height: 10%;
    background-color: #426ab2;
}

.icon_container > a {
    display: flex;
    width: 100%;
    height: 100%;
}

.icon_container:hover {
    background: cornflowerblue;
    border-radius: 0.1em;
    filter: brightness(1.2);
}

.skelet_projects_list {
    display: none;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    padding: 1em;
}

.skelet_projects_list_detailed {
    display: none;
    padding: 1em;
    flex-direction: column;
}

.skelet_projects_list_detailed_devider {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em;
    background-color: #dfeaff;
}

.skelet_projects_list_detailed_devider_icon {
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
}

.skelet_projects_list_detailed_devider_label {
    display: flex;
    align-items: center;
    color: #778899FF;
    position: relative;
    padding-left: .75em;
}

.skelet_projects_list_detailed_devider_label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transform: scaleY(0.6);
    width: .25em;
    background: #9ca8b4;
}

.skelet_projects_detailed a{
    text-decoration: none;
    color: black;
}

.project-name {
    width: 15%;
}

.project-description {
    width: 20%;
    font-size: 13px !important;
}

.project-created_at {
    width: 15%;
}
.project-created_at span {
    font-size: 13px;
}

.field-avatar {
    display: flex;
    width: 1.5em; height: 1.5em;
    background: #426ab2;
    border-radius: 50%;
}
.project-updated_at {
    width: 15%;
}
.project-updated_at span {
    font-size: 13px;
}

.project-status {
    width: 10%;
}

.project-status span {
    background: orange;
    padding: .15em .45em;
    border-radius: .05em;
}

.project-owner {
    width: 15%;
}

.project-team {
    width: 15%;
}


.skelet_project_detailed {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 3em;
    margin-bottom: 0.1em;
    padding-inline: 1em;
    box-shadow: 0 2px 2px -2px #86a3ad;
}

.data-fields {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.data-field {
    height: 100%;
    padding-inline: 0.5em;
    font-size: 15px;
}

.skelet_project_detailed_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding-right: 0.5em;
}
.skelet_project_detailed_icon_square {
    display: flex;
    width: 1em; height: 1em;
    background: transparent;
    border: 1px solid #86a3ad;
}

.skelet_add_project {
    text-decoration: none;
    color: palevioletred;
    border: 0.25em solid lightcoral;
    padding: 0.5em;
    border-radius: 0.25em;
    font-weight: bolder;
}

.skelet_projects {
}

.skelet_project {
    padding: 0.5em;
    border-bottom: 0.1em solid lightblue;
    list-style: none;
}

main {
    position: relative;
    display: flex;
    width: 100%;
}


.skelet_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em
}

.skelet_project {
    background-color: var(--color-primary);
    box-shadow: 0px .5px .5px rgba(0, 0, 0, 0.5), 0px 0px 0px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(255, 255, 255, 0.1);
    padding: 16px;
    border: 3px dotted white;
    border-radius: 0.5em;
    cursor: pointer;
    max-width: 15em;
}

.skelet_project > a {
    color: white;
    text-decoration: none;
}

.skelet_project p {
    padding: .25em;
}

.skelet_project p:nth-child(2) {
    color: #d2d2ff;
}

.welcome_container {
    padding: 1.25em;
}

.welcome_container > p {
    font-weight: bold;
    color: #86a3ad;
}

.welcome_container > span {
    color: #426ab2;
    font-weight: bolder;
    font-size: 1.5em;
    text-transform: capitalize;
}

.dashboard_template {
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
    width: 100%;
}

.project_detail_template {
    display: flex;
    flex-direction: column;
    padding: 0 .5em;
    width: 100%;
    height: auto;
}

.tiles_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 12.5%;
    /*grid-auto-flow: revert;*/
    gap: 10px;
    width: 100%;
    height: 100%;
}

.remove_button {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border: .2em solid lightcoral;
    position: relative;
}

.remove_button::before {
    position: absolute;
    top: 0.8em;
    left: .15em;
    content: "";
    width: 1.25em;
    height: .2em;
    background-color: lightcoral;
}

.add_button {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border: .2em solid mediumseagreen;
    position: relative;
}

.add_button::before {
    position: absolute;
    top: 0.8em;
    left: .15em;
    content: "";
    width: 1.25em;
    height: .2em;
    background-color: mediumseagreen;
}

.add_button::after {
    position: absolute;
    top: .2em;
    left: .65em;
    content: "";
    width: .2em;
    height: 1.25em;
    background-color: mediumseagreen;
}

.tile_container {
    display: flex;
    flex-direction: column;
    padding: .5em .8em;
    border: .1em solid #426ab2;
    border-radius: .2em;
}

.tile_container:nth-child(1) {
    grid-column: span 2;
    grid-row: span 4;
}

.tile_container:nth-child(2) {
    grid-column: span 2;
    grid-row: span 2;
}

.tile_container:nth-child(3) {
    grid-column: span 2;
    grid-row: span 4;
}

.tile_container:nth-child(4) {
    grid-column: span 2;
    grid-row: span 4;
}

.tile_container_title {
    padding: .25em 0;
    font-weight: bold;
}

.tile_container_field {
    padding: .25em 1em;
}

.tile_container_field a {
    text-decoration: none;
    color: mediumseagreen;
}

.tile_container_divider {
    padding: .25em .25em;
    color: #86a3ad;
}

.divider_section {
    padding: .25em 1.25em;
    color: #86a3ad;
}

.skelet_tasks_list {
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.skelet_tasks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.skelet_tasks > li {
    background-color: #f2f5ff;
    padding: .25em;
    margin: .5em .35em .5em .35em;
    border-bottom: 1px solid #426ab2;
    list-style: none;
    text-transform: none;
}

.skelet_tasks > li:nth-child(1) {
    width: 30%;
}

.skelet_tasks > li:nth-child(2) {
    width: 20%;
}

.skelet_tasks > li:nth-child(3) {
    width: 15%;
}

.skelet_tasks > li:nth-child(4) {
    width: 15%;
}


.curtain-start {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-primary);
    z-index: 100;
    animation: reveal-curtain 250ms forwards;
}

.curtain-end {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-primary);
    z-index: 100;
    transform: translateX(100%);
}

.active-curtain-end {
    animation: hide-curtain 250ms ease-in-out forwards;
}

@keyframes reveal-curtain {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
        display: none;
    }
}

@keyframes hide-curtain {
    0% {
        transform: translateX(100%) translateY(100%);
    }
    100% {
        transform: translateX(0%) translateY(0%);
    }
}

@keyframes change-effect {
    0% {
        filter: none;
    }

    50% {
        filter: brightness(1.5) saturate(0.5);
    }
    100% {
        filter: none;
    }
}

.display-view-change {
    position: relative;
    display: flex;
    height: 100%;
    aspect-ratio: 1/1;
    /*background: var(--color-primary);*/
}

.display-view-change img {
    width: 3em; height: 3em;
    cursor: pointer;
}

.active-details, .active-simple {
    display: flex;
}



