{% load static %}

<nav class="skelet_navbar" style="user-select: none">
    <div class="icon_container connect:navbar_expand~skelet_navbar connect:navbar_expand~icon_label">
        <div class="navbar_container">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <div class="icon_container">
        <a href="{% url 'dashboard' %}" class="redirect">
            <img src="{% static 'icons/dashboard.svg' %}">
        </a>
        <span class="icon_label">
            dashboard
        </span>
    </div>
    <div class="icon_container">
        <a href="{% url 'project_list' %}" class="redirect">
            <img src="{% static 'icons/projects.svg' %}">
        </a>
        <span class="icon_label">
            projects
        </span>
    </div>
    <div class="icon_container">
        <a href="{% url 'friends' %}" class="redirect">
            <img src="{% static 'icons/friends.svg' %}">
        </a>
        <span class="icon_label">
            friends
        </span>
    </div>
    <div class="icon_container icon_container_settings">
        <a style="filter: brightness(2) grayscale(50%);" class="icon_container_settings_image"
           style="pointer-events: none">
            <img src="{% static 'icons/settings.svg' %}" style="pointer-events: none">
        </a>
        <span class="icon_label">
            settings
        </span>
    </div>
    <div class="icon_container icon_inside">
        <a href="{% url 'settings' %}" class="redirect">
            <img src="{% static 'icons/profile.svg' %}">
        </a>
        <span class="icon_label">
            profile
        </span>
    </div>
    <div class="icon_container icon_inside">
        <a href="{% url 'settings' %}" class="redirect">
            <img src="{% static 'icons/projects.svg' %}">
        </a>
        <span class="icon_label">
            projects
        </span>
    </div>
    <div class="icon_container icon_inside">
        <a href="{% url 'settings' %}" class="redirect">
            <img src="{% static 'icons/tasks.svg' %}">
        </a>
        <span class="icon_label">
            tasks
        </span>
    </div>
    <div class="icon_container icon_inside">
        <a href="{% url 'settings' %}" class="redirect">
            <img src="{% static 'icons/other.svg' %}">
        </a>
        <span class="icon_label">
            other
        </span>
    </div>
    <div class="icon_container">
        <a href="{% url 'faq' %}" class="redirect">
            <img src="{% static 'icons/faq.svg' %}">
        </a>
        <span class="icon_label">
            faq
        </span>
    </div>
    <div class="icon_container">
        <a href="{% url 'logout' %}" class="redirect">
            <img src="{% static 'icons/logout.svg' %}">
        </a>
        <span class="icon_label">
            logout
        </span>
    </div>
    <ul>
    </ul>
</nav>
<script>
    document.querySelector('.icon_container_settings').addEventListener('click', (e) => {
        e.target.querySelector("img").classList.toggle("image_anim_a")
        {#let st1 = e.target.cssRules[1]#}
        {#st1.style.transform = "rotate(0deg)";#}
        document.querySelectorAll(".icon_inside").forEach(value => {
            value.classList.toggle("display_icon_inside");
        })
    })
</script>