{% load static %}

<div class="skelet_projects_list_detailed" style="display: flex !important;">
    <ul class="skelet_projects_detailed">
        <div class="skelet_projects_list_detailed_devider">
            <div class="skelet_projects_list_detailed_devider_icon">
                <img src="{% static 'icons/expand_arrow.svg' %}" style="width: 1em; height: 1em">
            </div>
            <span class="skelet_projects_list_detailed_devider_label">All notifications</span>
        </div>
        {% for notification in notifications %}
            <a href="" class="data-fields data-fields-notifications">
                {% if incoming_requests %}
                    <div class="data-field notification-from"><span>{{ notification.from_user.username }}</span></div>
                    <button data-palet="notifications" data-palet-type="accepted" class="incoming_requests_button" onclick="respondToRequest('{{ notification.id }}', 'accept')">Accept</button>
                    <button data-palet="notifications" data-palet-type="declined" class="incoming_requests_button" onclick="respondToRequest('{{ notification.id }}', 'decline')">Decline</button>
                    <button data-palet="notifications" data-palet-type="blocked" class="incoming_requests_button" onclick="respondToRequest('{{ notification.id }}', 'block')">Block</button>
                {% else %}
                    <div class="data-field notification-from"><span>{{ notification.from_user }}</span></div>
                    <div class="data-field notification-to"><span>{{ notification.to_user }}</span></div>
                    <div class="data-field notification-status"><span data-palet="notifications" data-palet-type="{{ notification.status }}" >{{ notification.status }}</span>
                    </div>
                    <div class="data-field notification-created"><span>{{ notification.created_at }}</span></div>
                {% endif %}
            </a>
        {% empty %}
            <a href="" class="data-fields data-fields-notifications">
                <div class="data-field notification-from"><span style="color: gray">None notifications</span></div>
            </a>
        {% endfor %}
    </ul>

</div>

