{% load static %}

<div class="skelet_projects_list_detailed" style="display: flex !important;">
    <ul class="skelet_projects_detailed" data-skelet-filter-container="projects">
        <div class="skelet_projects_list_detailed_devider">
            <div class="skelet_projects_list_detailed_devider_icon">
                <img src="{% static 'icons/expand_arrow.svg' %}" style="width: 1em; height: 1em">
            </div>
            <span class="skelet_projects_list_detailed_devider_label">All Projects</span>
            <div style="width: 100%; height: 100%; display: flex; align-items: center; gap: 0.25em" data-skelet-filter-bar>

            </div>
        </div>
        {% for project in projects %}
            <li class="skelet_project_detailed"
                data-name="{{ project.name }}"
                data-description="{{ project.description }}"
                data-owner="{{ project.owner }}"
                data-team="{{ project.team }}"
                data-status="{{ project.status }}"
                data-created="{{ project.created_at }}"
                data-updated="{{ project.updated_at }}"
                data-skelet-filter-row
            >
                <div class="skelet_project_detailed_icon">
                    <div class="skelet_project_detailed_icon_square"></div>
                </div>
                <a href="{% url 'project_detail' project.pk %}" class="data-fields">
                    <div class="data-field project-name" data-skelet-filter-drag="name"><span>{{ project.name }}</span></div>
                    <div class="data-field project-description" data-skelet-filter-drag="description"><span>{{ project.description }}</span></div>
                    <div class="data-field project-created_at"><span>{{ project.created_at }}</span></div>
                    <div class="data-field project-updated_at"><span>{{ project.updated_at }}</span></div>
                    <div class="data-field project-status" data-skelet-filter-drag="status"><span data-palet="projects" data-palet-type="{{ project.status }}">{{ project.status }}</span></div>
                    <div class="data-field project-owner" data-skelet-filter-drag="owner"><span>{{ project.owner }}</span></div>
                    <div class="data-field project-team">
                        {% for member in project.team.all %}
                            {% if member.profile_picture == "" %}
                                <div class="field-avatar" style="transform: translateX({{ forloop.counter0 }}em)"></div>
                            {% else %}
                                <div class="field-avatar" style="transform: translateX({{ forloop.counter0 }}em)">

                                    <img src="/dashboard{{ member.profile_picture.url }}" alt="">
                                    <div class="infobar">

                                        <div class="field-avatar" field-user-id="{{ member.id }}"
                                             style="background: {% if member.status == "online" %}green{% else %}red{% endif %};">
                                        </div>
                                        <div class="field-avatar">
                                            <img src="/dashboard{{ member.profile_picture.url }}" alt="">
                                        </div>
                                        <span>{{ member.first_name }}</span>
                                        <span>{{ member.last_name }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        {% empty %}
                            <div class="field-avatar-empty">
                            </div>
                        {% endfor %}
                    </div>
                </a>
            </li>
        {% empty %}
            <li class="skelet_project_detailed">
                <span style="color: gray">No projects found.</span>
            </li>
        {% endfor %}
    </ul>
    {% if add_project %}
        <div class="add-project">
            <li class="skelet_project_detailed">
                <a href="{% url 'project_create' %}" style="text-decoration: none; color: gray">Add New Project</a>
            </li>
        </div>
    {% endif %}

</div>
