{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard_template">
        <div class="welcome_container">
            <p>Welcome Back,</p>
            <span>{{ user.username }}</span>
        </div>
        <div class="divider_section">
            <p>Recent Owner Projects</p>
        </div>
        {% #cprojects projects=recent_owner_projects add_project=False %}{% /cprojects %}

        <div class="divider_section">
            <p>Recent Team Projects</p>
        </div>
        {% #cprojects projects=recent_team_projects add_project=False %}{% /cprojects %}

        <div class="divider_section">
            <p>Recent Tasks</p>
        </div>
        {% #ctasks tasks=recent_tasks add_task=False %}{% /ctasks %}

        <div class="divider_section">
            <p>notifications</p>
        </div>
        {% #cnotifications notifications=new_notifications %}{% /cnotifications %}

    </div>
{% endblock %}