{% extends 'base.html' %}

{% block title %}Settings{% endblock %}

{% block content %}
    <div class="settings_template">
         <h2>User Settings</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            <div class="field">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.help_text %}
                    <small>{{ field.help_text }}</small>
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="btn-save">Save</button>
    </form>
    </div>
    <script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/notifications/');

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        {#alert(`${data.title}: ${data.body}`);#}
        window.location.reload();
    };

    socket.onclose = function(event) {
        console.error('WebSocket closed unexpectedly');
    };

    </script>
{% endblock %}