{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="dashboard_template">
        <div class="welcome_container">
            <p>Welcome Back,</p>
            <span>{{ user.username }}</span>
        </div>
        <div class="divider_section">
            <p>Recent Owner Projects</p>
        </div>
        <div class="skelet_projects_list">
            <ul class="skelet_projects">
                {% for project in recent_owner_projects %}
                    <li class="skelet_project"><a href="{% url 'project_detail' project.pk %}">
                        <p>{{ project.name }}</p>
                        <p>{{ project.description }}</p>
                    </a>
                    </li>
                {% empty %}
                    <li>No projects found.</li>
                {% endfor %}

            </ul>
        </div>
        <br>
        <div class="divider_section">
            <p>Recent Team Projects</p>
        </div>
        <div class="skelet_projects_list">
            <ul class="skelet_projects">
                {% for project in recent_team_projects %}
                    <li class="skelet_project"><a href="{% url 'project_detail' project.pk %}">
                        <p>{{ project.name }}</p>
                        <p>{{ project.description }}</p>
                    </a>
                    </li>
                {% empty %}
                    <li>No projects found.</li>
                {% endfor %}

            </ul>
        </div>
        <br>

        <div class="divider_section">
            <p>Recent Tasks</p>
        </div>
        <div class="skelet_tasks_list">
            {% for task in recent_tasks %}
                <ul class="skelet_tasks">
                    <li>{{ task.title }}</li>
                    <li>{{ task.assignee }}</li>
                    <li>{{ task.status }}</li>
                    <li>{{ task.due_date }}</li>
                </ul>
            {% empty %}
                <li>No tasks found.</li>
            {% endfor %}
        </div>
    </div>
    <script>
    const socket = new WebSocket('ws://' + window.location.host + '/ws/notifications/');

    socket.onmessage = function(event) {
        const data = JSON.parse(event.data);
        {#alert(`${data.title}: ${data.body}`);#}
        window.location.reload();
    };

    socket.onclose = function(event) {
        console.error('WebSocket closed unexpectedly');
    };

    </script>
{% endblock %}