{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block content %}
    <div class="friends_template">

        <div class="search_for_friends">
            <div class="divider_section">
                Search for Friends
            </div>
            <input type="text" id="search_query" placeholder="Enter username">
            <button onclick="searchUsers()">Search</button>

            <div id="search_results">
            </div>
        </div>

        <div class="friends_container">
            <div class="friend_list">
                <div class="divider_section">
                    Current Friends & Statuses
                </div>
                {% #cnotifications notifications=friends %}{% /cnotifications %}


                <div class="divider_section">
                    Blocked & Declined Users
                </div>
                {% #cnotifications notifications=blocked_users %}{% /cnotifications %}

            </div>

            <div class="pending_requests">
                <div class="divider_section">
                </div>
                {% #cnotifications notifications=incoming_requests incoming_requests=True %}{% /cnotifications %}

            </div>
        </div>

    </div>

    <script>
        function searchUsers() {
            const query = document.getElementById('search_query').value;
            fetch("{% url 'search_users' %}?search_query=" + query)
                .then(response => response.json())
                .then(data => {
                    const resultsContainer = document.getElementById('search_results');
                    resultsContainer.innerHTML = '';

                    if (data.users.length > 0) {
                        const ul = document.createElement('ul');
                        data.users.forEach(user => {
                            const li = document.createElement('li');
                            li.innerHTML = `<span>${user.username}</span>
                                        <button onclick="sendFriendRequest(${user.id})">Send Request</button>`;
                            ul.appendChild(li);
                        });
                        resultsContainer.appendChild(ul);
                    } else {
                        resultsContainer.innerHTML = '<p>No users found</p>';
                    }
                });
        }

        function sendFriendRequest(userId) {
            fetch("{% url 'send_friend_request' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({user_id: userId})
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    if (data.success) {
                        searchUsers();
                    }
                });
        }

        function respondToRequest(requestId, action) {
            fetch("{% url 'respond_friend_request' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({request_id: requestId, action: action})
            })
                .then(response => response.json())
                .then(data => {
                    alert(data.message);
                    if (data.success) {
                        location.reload();
                    }
                });
        }
    </script>
{% endblock %}
