{% extends 'base_short.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<h3>Login</h3>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="login-form-container">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="error">{{ field.errors }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<button class="btn btn-secondary">
    <a href="{% url 'register' %}" class="btn-link">Sign Up</a>
</button>

{% endblock %}


