{% extends 'base_short.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="h-full w-full center-hor-ver">
        <div class="panel login-panel p2 flex-col center-ver center-hor">
{#            <div class="panel-header my05">Login</div>#}
            <div class="px2 w-full">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="my1 flex-col form-field font-helv">
                            <label class="py05" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                <div class="error">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="panel-button" style="margin-top: 2em;">Login</button>
                </form>
                <button class="panel-button my1">
                    <a href="{% url 'register' %}" style="color: white; text-decoration: none;">Sign Up</a>
                </button>
            </div>

        </div>

    </div>
{% endblock %}


